{
    "dev": {
        "aws_region": "##aws_region##",
        "s3_bucket": "##s3_bucket##",
        "project_name": "##project_name##",
        "lambda_name": "ai-wizard-backend-dev",
        "app_function": "app.main.app",
        "runtime": "python3.12",
        "role_arn": "##role_arn##",
        "environment_variables": {
            "DATABASE_URL": "##database_url##",
            "STAGE": "dev"
        },
        "timeout_seconds": 30,
        "memory_size": 512,
        "manage_roles": false,
        "apigateway_enabled": true,
        "apigateway_description": "AI Wizard Backend API - Dev",
        "slim_handler": true,
        "keep_warm": false,
        "api_key_required": false,
        "cors": true,
        "cloudformation_enabled": false,
        "aws_environment_variables": {
            "STAGE": "dev"
        }
    },
    "test": {
        "extends": "dev",
        "lambda_name": "ai-wizard-backend-test",
        "environment_variables": {
            "DATABASE_URL": "##database_url##",
            "STAGE": "test"
        },
        "apigateway_description": "AI Wizard Backend API - Test",
        "aws_environment_variables": {
            "STAGE": "test"
        }
    },
    "prod": {
        "extends": "dev",
        "lambda_name": "ai-wizard-backend-prod",
        "memory_size": 1024,
        "environment_variables": {
            "DATABASE_URL": "##database_url##",
            "STAGE": "prod"
        },
        "apigateway_description": "AI Wizard Backend API - Production",
        "keep_warm": true,
        "warm_functions": 1,
        "aws_environment_variables": {
            "STAGE": "prod"
        }
    }
}
